/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Rofi Theme File
 * Rofi Version: 1.7.3
 **/

/*****----- Configuration -----*****/
configuration {
  modi                                            : "drun,emoji-picker:/home/ahmad/.local/bin/rofimoji --use-icons --action clipboard,power-menu:~/.config/rofi/bin/rofi-power-menu,bw:~/.config/rofi/bin/bwmenu,wallpaper:~/.config/rofi/bin/wallpaper-picker";
  disable-history                                 : false;
  icon-theme                                      : "pixora";
/* 2. Optimized Display Strings */
  display-wallpaper                               : "󰸉 ";
  display-emoji-picker                            : "󰞅 ";
  display-drun                                    : "󰀻 ";
  display-power-menu                              : "󰐥 ";
  display-bw                                      : "󰟵 ";
  drun-display-format                             : "{icon} {name}";
  clipboard-display-format                        : "{name}";
  hide-scrollbar                                  : true;
  location                                        : 0;
  show-icons                                      : true;
  sidebar-mode                                    : true;
  terminal                                        : "alacritty";
  kb-mode-next                                    : "Ctrl+Tab";
  kb-mode-last                                : "Ctrl+Shift+Tab";
}

@theme "theme.rasi"
